.container {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #FBE7C6;
    top:0px;
    left:0px;
}

.password_container {
    color: white;
    position: relative;
    top: 15px;
    margin: 0 auto;
    width: 500px;
    height: 600px;
    background-color: #1C815A;
    border-radius: 10px;
    border: 2px solid #5cd5eb;
}

.header {
    display: flex;
}

.title {
    text-align: center;
    color: #053a5f;
    margin-top: 100px;
}

.password { 
    width: 270px;
    height: 30px;
    margin-left: 30px;
    border: 1px solid #053a5f;
    text-align: center;
}

.btn {
border: none;    
background-color: #1C815A;
color: white;
margin-left: 15px;
font-size: 15px;
cursor: pointer;
width: 70px;
height:30px;
margin-top:15px;
}

.slider_wrap {
    margin: 20px;
    display:flex;
    flex-direction: column;
}

.slider_label {
    margin-top: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.pass_settings {  
 display: flex;
 margin-top: 2%;
}

.pass_option {
 text-align: left;
 width: 335px;
}

.pass_btn {
    background-color: white;
    color:black;
    border-radius: 20px;
    border: none;
    width: 200px;
    height: 33px;
    margin: 0 auto;
    margin-top: 40px;
}

.pass_btn:hover{
    background-color: #5cd5eb;
    cursor: pointer;
    color: white;
}

.pass_btn:active{
    background-color: #053a5f;
    cursor: pointer;
    transition: 3sec;
}

.passStrength {
    text-align: center;
    margin-left: 0px;
}

.alert {
    position: fixed;
    z-index: 5;
    background-color: #1c815add;
    width: 100%;
    height: 100%;
    text-align: center;
}
.alertText {
    color: white;
    font-size: 20px;
    margin: 0 auto;
    margin-top: 250px;
    margin-bottom: 20px;
    text-align: center;
}
.btn_ok {
    width: 60px;
    height: 30px;
    border: 1px solid #5cd5eb;
}
.btn_ok:hover {
    background-color: #5cd5eb;
}
.btn_ok:active{
    background-color: #053a5f;
    color: white;
}


/********** slider Input Styles **********/
/*slider Reset*/
.slider {
    align-self: center;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    -webkit-appearance: none;
     appearance: none;
     background: transparent;
     cursor: pointer;
 }

 /* slider track */
 .slider::-webkit-slider-runnable-track {
    background-color: #053a5f;
    border-radius: 0.5rem;
    height: 0.5rem;  
 }
 
 /* slider thumb */
 .slider::-webkit-slider-thumb {
    appearance: none;
    margin-top: -10px; 
    box-shadow: 5px 3px 11px 1px rgba(0,0,0,0.79);
    background-color: #5cd5eb;
    width: 25px;
    height: 25px;
    border-radius: 25px;
 }

 /********** Toggle Switch Styles **********/
.input_toogle {
    margin-top: 20%;
    -webkit-appearance: none;
    width: 65px;
    height: 30px;
    border-radius:25px;
    background-color: #5cd5eb;
    position: relative;
    cursor: pointer;
    outline: none;
}

.input_toogle::after {
    width: 25px;
    height: 25px;
    background-color: white;
    box-shadow: 5px 3px 11px 1px rgba(0,0,0,0.79);
    position: absolute;
    content: "";
    top: 2.5px;
    left: 5px;
    border-radius: 50%;
    z-index: 3;
}

.input_toogle:checked {
    background-color: #053a5f;
}

.input_toogle:checked::after {
    left: 34px;
}

.toogle_wrap {
    position: relative;
}

.on_off {
    color: white;
    position: absolute;
    top: -7px;
    font-size: 13px;
    z-index: 1;
    cursor: pointer;
}

.on {
    left: 10px;
}

.off {
    right: 10px;
}
.green {
    color:#1C815A;
}
.white{
    color: white;
}


@media(max-width:525px){
    .password_container {
        width: 300px;
        height: 480px;
        top: 0px;
    }
    p {
        margin-left: 0px;
    }
    .slider_label {
        margin-top: 0px;
    }
    .pass_btn {
        margin-top: 20px;
    }
    .password {
        margin-left:5px;
        width: 150px;
        font-size: 15px;
        margin-top: 15px;
    }
    .btn {
        margin-left: 5px;
        border: 1px solid;
        font-size: 10px;
        width: 60px;
        
    }
}